@font-face {
  font-family: 'iconfont';
  src: url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qoute:before {
  content: '\e620';
}

.icon-time:before {
  content: '\e61d';
}

.icon-link:before {
  content: '\e62b';
}

.icon-filter:before {
  content: '\e639';
}

.icon-github {
  @apply text-black dark:text-gray-200;
}
.icon-github:before {
  content: '\e651';
}

.icon-bilibili {
  @apply text-blue-500;
}
.icon-bilibili:before {
  content: '\e69e';
}

.icon-message:before {
  content: '\e615';
}

.icon-upload:before {
  content: '\e605';
}

.icon-all-like:before {
  content: '\e501';
}

.icon-like:before {
  content: '\e602';
}

.icon-user:before {
  content: '\e612';
}

.icon-copy:before {
  content: '\e62c';
}

.icon-top:before,
.icon-right:before,
.icon-left:before {
  content: '\e646';
}

.icon-right {
  transform: rotateZ(90deg);
}

.icon-left {
  transform: rotateZ(-90deg);
}

.icon-balance:before {
  content: '\e6cf';
}

.icon-clean:before {
  content: '\e60a';
}

.icon-null:before {
  content: '\e708';
}
